<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Build All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>FTPProxy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>FTPProxyStatic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>FTPTelnet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>FTPTransfer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA20D492185D722300F8CD0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA20D4A2185D722400F8CD0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA20D4CD185D72AD00F8CD0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA20D4F9185E5B2D00F8CD0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA20D50D185E5C3500F8CD0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA20D519185E5C3500F8CD0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA9723E1185BAD2E0062DA09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA972402185BAD2E0062DA09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA97241C185BAD9C0062DA09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA972428185BAD9C0062DA09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
